@charset "UTF-8";

/* #floatMenu {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 50px;
	top: 250px;
	background-color: #606060;
	color: #fff;
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap {
  flex: 1;
}

.wrap {
	/* background-color: rgb(151, 151, 151); */ 
	height: 100%;
	width: 1200px;

 	/* border:solid 3px #FF0000;  */
	
	margin-left: auto;
	margin-right: auto;
	/*  overflow:auto */
	/* margin-top: 500px; */
	}
	
.left {
	float: left;
	width: 810px;
	top: 100px;
	position:static;

	 /*border:solid 1px #DDDDDD; */
	/* background-color:yellowgreen; */
	padding-left: 10px;
	 /* margin-top: 150px; */ 
}

.langChoose{
	width:250px;
	 line-height: 20px;
	margin-bottom: 30px;
	 vertical-align: middle;     /* 수직 정렬 */
	
}

.slick-list .slick-track{
	width : 500px;
}

.right {
	float:right;
	width: 380px;
	/* height: 500px; */
	margin-left:826px;
	position: fixed;
	top: 110px;
	/*border:solid 1px #00FF00;*/
	/* background-color: blueviolet; */
	z-index:6;
	margin-bottom: 300px;
}


.title{
	font-size : 50px;
	font-weight : bold;
	margin-top:200px;
	/* margin-left: 250px; */
	 background-color: transparent; 
	   outline: none; 
	    border: none !important;
  outline: none !important;     
  box-shadow: none !important;
}

.wrap .left .explain_ticket li{
	/* background:url("http://192.168.10.71/gungProject/ticket/images/bg_bullet.png"); */
	/* background:url("http://192.168.10.71/gungProject/ticket/images/bg_bullet.png") no-repeat left 6px;
	padding-left:10px;
	font-size:12px;
	line-height:1.2;
 */


	font-size:15px;
	color:#555;
	font-family:NanumGothic;
	line-height:1.4;
	margin:0 0 10px 0;
	background:url("../images/bg_bullet.png") no-repeat left 8px;
	padding-left:10px;

	
	
}
.wrap .left .explain_ticket ul{
	list-style:none;
	-webkit-padding-start:0px;
}

.subTitle{
	font-size: 30px;
	font-weight: bold;
	/* margin-left: 20px; */

}
.import_red{
	color: #FF0000;
	font-weight:bold;
}


table,th,td{
	border:1px solid black;
	border-collapse:collapse;
}

	
.wrap .right .ticket_box{
/* 	position:relative; */
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
	background:#FFFFFF;

	/* border-radius: 5%; */
	margin-top: 120px;
	padding-top:20px;
	
	/* overflow : auto;  *//*자식 div 모두 감싸기  */

/* 	
	padding-left: 15px;
	padding-top:15px;
	padding-right: 15px; */
}


.wrap .right .ticket_box span{
	margin-left: 10px;
	font-size:18px;
	font-weight: bold;
}

/* select 칸 이미지 */
.selectDesign{
	position:relative;
	border-style: solid; 
	border-width: 1px; 
	border-color: black; 

	width: 330px;
	height:40px;

	margin-left: 27px;
	top:8px;
	
	cursor : pointer;
}


.selectDesign .langGroup {
  flex: 1;
  height: 100%;
  border: none;
  font-size: 16px;
  font-weight: bold;           /* 글씨 진하게 */
  color: #333;                 /* 글씨 색 어둡게 */
  background: transparent;
  outline: none;
  padding: 0 10px;
  line-height: 40px;   
 
}

.langChoose {
  height: 100%;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background: transparent;
  outline: none;

  /* 위치 조절 핵심 */
   margin-top: -7px !important;  
  
  
  line-height: 1;         /* 기본값보다 줄여서 높이 영향 제거 */
}


.personWrap{
	position:relative;
}

.selectDesign .ex{
	position: absolute;
	margin-top: 7px;
}

.ex{
	color:#757575;
}

.selectDesign .arrow{
	position: absolute;
	margin-left: 300px;
	margin-top: 13px;
}

/* /* 관람일자, 인원, 해설관람 text 위치 */
.selectedValue{
	position:absolute;

	margin-top: 10.5px;
	margin-left:10px;
} 

/* 달력 이미지....어쩌구 */
.viewTitle{
	margin-left: 27px;
	/* z-index:-1; */
}


.viewPersonNum{
	z-index:5;	
} 

.priceView{
	color:#FF4D4D;
	font-weight: bold;
	font-family: NanumGothic;
	font-size:47px;
	float:right;
	margin-right: 23px;
	margin-bottom: 40px;
	text-align:right;
	
	
	width:330px;
	background-color: transparent;
	
	
	
}

.reserveBtn{
	/* position:absolute; */
	display:block;
	width:380px;
	height:70px;

	margin-top:80px;
	border:none;
	background-color: #FF4D4D;
	color: whitesmoke;
	
	cursor:pointer;
	
	text-decoration: none;
	font-size:30px;
	text-align: center;
	align-content: center;
}

.reserveBtnFont{
	font-size:30px;	
}


.classificationWrap{
	/* position:fixed; */
	position:absolute;
    width:330px;
    border: solid #333 1px;
    background-color : #FFFFFF;
    margin-left: 27px;
    margin-top: 13px;
    height:360px;
    z-index:20;
    
}

 .classificationWrap table{
    width:330px;
   
    text-align: center;
    width:100%;
    
}

.classificationWrap td{
    height:90px;
}

.classificationWrap table, .classificationWrap tr, .classificationWrap td{
    margin-top:30px;
    border : solid 1px #333;
    border:none;
} 

.classifiationTable{
    display:flex;
    justify-content: center;
    
}

/* 예매 인원수 */
.person{
    /* width:44px; */
    height:10px;
    border : solid 1.5px #333;
    
    font-size: 15px;
    padding:2px;
}

.ticketCost{
   	border:none;
   
    color:#FF4D4D;
   padding-bottom: 120px;
   	
    width:65px;
    font-size: 18px;
    padding:5px;
   
}
.ticketCost:focus, .priceView:focus{
	outline:none;
}

.langGroupWrap{
	position : relative;
}

.langWrap{
	position:absolute;
	width:330px;
	margin-left: 27px;
	margin-top :  13px;
	
	border:1px #333 solid;
}

.langWrap .lang{
	border : 1px solid #333;
	font-size: 17px;
	background-color: #ffffff;
	padding:10px;
	
}

.lang:hover{
	background-color: #CCCCCC;
}

.minusImg:active, .plusImg:active{
/* 	background-color: #f1f3f5; */
	background-color: #CCCCCC;
}

.annoyWrap{
	position:relative;
}
.chooseBtnWrap{
	position:absolute;
	margin-top: 68px;
}
.chooseBtn{
	background-color:#FF4D4D; 
	border: none; 
	color:#FFFFFF; 
	width: 120px; 
	height:40px; 
	/* margin-top: 30px;  */
	margin-left: 100px; 
	font-size: 25px; 
	text-align: center;
	/* margin-bottom: 30px; */
	
	/* position:fixed;  */
	
	
}

.chooseBtn:active, .reserveBtn:active{
	background-color:#990000;
}

.datepicker {
  position: absolute;
  top: 100%; /* 혹은 원하는 위치 */
  left: 0;
  z-index: 999;
}


.calcValue{
	position:relative;
	/* float : right; */
	
	font-size:35px; 
	float:right; 
	margin-right: 30px; 
	color:#FF4D4D; 
	/* border:1px solid #333; */
}

#datepicker{
	margin-left:-10px;
	width:320px;
	margin-top: -3px;
	font-size: 20px;
	border : none; 
	background-color:transparent;
	padding : 7px;
	
	
	
}


.popup_box {
/*팝업 배경*/
	display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}


.popup_box .popup {
/*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}